ion-segment-button {
    --indicator-box-shadow: transparent !important;
    --border-radius: 10px !important;
    --color-checked: #dc85de !important;
    --indicator-color: #dc85de !important;
    --color: #dc85de !important;
    --background: red !important;
}

